<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {{# current_post }}{{ current_post.title }}{{/ current_post }}
    {{^ current_post }}{{ cosmic.object.header.metadata.site_title }}{{/ current_post }}
  </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header class="header">
    <h1 class="site-title">
      <a href="/">< Back to front page</a>
    </h1>
  </header>
  
  <main class="main">
    {{^ current_post }}
      <div class="container">
        <h1>Page not found</h1>
      </div>
    {{/ current_post }}
    {{# current_post }}
      {{# metadata.hero.imgix_url }}
        <div class="blog-post-hero" style="background-image: url({{ metadata.hero.imgix_url }})"></div>
      {{/ metadata.hero.imgix_url }}
      <div class="container">
        <h2 class="blog__title">
          <a href="/{{ slug }}">{{ title }}</a>
        </h2>
        <div class="blog__author">
          <a href="/author/{{ metadata.author.slug }}">
            <div class="blog__author-image" style="background-image: url({{ metadata.author.metadata.image.imgix_url }}?w=100)"></div>
          </a>
          <div class="blog__author-title">by <a href="/author/{{ metadata.author.slug }}">{{ metadata.author.title }}</a> on {{ friendly_date }}</div>
          <div class="clearfix"></div>
        </div>
        <div class="blog__content droid">{{{ content }}}</div>
        <div class="blog__tags">
          {{# metadata.category }}
            <span class="tag-pill"> <a href="/category/{{ title }}">{{ title }}</a></span>
          {{/ metadata.category }}
        </div>
      </div>  
    {{/ current_post }}
  </main>
{{> footer }}